# Models


*.h5
*.pkl
*.onnx
*.safetensors

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
venv/
.env
.venv/

temp/
backend/temp/
frontend/temp/
dataset/metadata.csv
dataset/
git
backend/models/